@import 'variables.scss';

.spinner {
    width: 100svw;
    height: 100svh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .loader {
        display: block;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        position: relative;
        animation: rotate 1s linear infinite;
    }
    .loader::before,
    .loader::after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        inset: 0px;
        border-radius: 50%;
        border: 10px solid $bg-spinner-dark;
        animation: prixClipFix 2s linear infinite;
    }
    .loader::after {
        border-color: $bg-spinner-light;
        animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
        inset: 10px;
    }
}

.navbar {
    height: $height-navbar;
    border-bottom: $border-thin;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    background-color: $bg-color-main;
    padding: 8px;
    z-index: 2;

    .navbar-title {
        width: 100%;
        text-align: center;
        font-weight: 400;
        font-size: 1.1rem;
    }

    .navbar-icon {
        position: absolute;
        top: 25%;
        right: 8px;
        cursor: pointer;
    }
}

.toolbar {
    width: 100%;
    display: flex;
    flex-direction: column;

    .toolbar-filter {
        position: relative;
        padding: 16px 0 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .btn-selection {
            height: 36px;
            font-size: 1rem;
            font-family: 'Roboto', sans-serif;
            border-radius: $radius-btn;
            padding: 4px 16px;
            border: $border-button;
            background-color: $bg-color-main;
            color: $txt-color-btn;
            transition: $transition-normal;
            margin-right: 8px;
            cursor: pointer;

            @media (max-width: 300px) {
                margin-right: 4px;
            }
        }

        .btn-active {
            background-color: $bg-btn-active;
            color: $txt-color-btn-active;

            &:hover {
                background-color: $bg-btn-active;
                color: $txt-color-btn-active;
            }
        }

        .btn-filter {
            background-color: $bg-color-main;
            width: 36px;
            height: 36px;
            padding: 0;
            margin: 0;
            border: none;
            border-radius: $radius-btn;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            filter: invert(0);
            transition: $transition-normal;

            img {
                transform: translateX(-0.4px);
                width: 100%;
                object-fit: cover;
            }

            .filter-active {
                filter: invert(1);
            }
        }

        .filter-menu {
            position: absolute;
            right: 0;
            top: 53px;
            min-width: 260px;
            min-height: 0;
            background-color: $bg-color-main;
            box-shadow: $shadow-filter-menu;
            border-radius: $radius-tile;
            padding: 16px;
            transition: $transition-short;
            z-index: -1;
            opacity: 0;

            @media (max-width: 300px) {
                right: -16px;
            }

            .filter-menu-list {
                font-size: 1.1rem;
                line-height: 1.7;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                gap: 8px;

                input {
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                }

                .filter-label {
                    text-transform: capitalize;
                }
            }
        }

        .filter-menu-active {
            z-index: 3;
            opacity: 1;
        }
    }

    .toolbar-slider {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4px;

        .toolbar-slider-label {
            font-size: 1rem;
        }

        .toolbar-slider-toggle {
            width: 51px;
            height: 31px;
            padding: 2px;
            border-radius: 100px;
            background-color: $bg-slider-active;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-shrink: 0;
            cursor: pointer;

            .toolbar-slider-knob {
                width: 27px;
                height: 27px;
                background-color: $bg-color-main;
                border-radius: 100px;
                box-shadow: $shadow-knob;
                transform: translateX(20px);
                transition: $transition-normal;
            }
        }

        .slider-inactive {
            background-color: $bg-slider-inactive;

            .toolbar-slider-knob {
                transform: translateX(0);
            }
        }
    }
}

.station-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;

    .station-tile {
        position: relative;
        box-shadow: $shadow-tile;
        border-radius: $radius-tile;
        padding: 16px;
        margin-bottom: 16px;
        width: 100%;
        height: 85px;
        transition: $transition-normal;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        cursor: pointer;

        .station-small-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .station-left {
                .station-brand {
                    font-weight: 600;
                }

                .station-adress {
                    font-weight: 400;
                    font-size: 0.9rem;
                    text-transform: capitalize;

                    @media (max-width: 330px) {
                        font-size: 0.8rem;
                    }
                }
            }

            .station-right {
                font-size: 1.7rem;
                font-weight: 700;

                @media (max-width: 348px) {
                    font-size: 1.4rem;
                }

                @media (max-width: 330px) {
                    font-size: 1.2rem;
                }

                @media (max-width: 296px) {
                    font-size: 1rem;
                }
            }
        }

        .station-large-content {
            transition: $transition-normal;
            opacity: 0;
            padding-top: 8px;

            .station-table {
                padding-top: 16px;
                border-spacing: 0;
                line-height: 1.5;
                font-size: 1.2rem;

                td {
                    padding: 0;
                }

                .station-table-price {
                    padding-left: 16px;
                    font-weight: 500;
                }
            }
        }

        .station-large-visible {
            opacity: 1;
        }
    }

    .station-large {
        height: 210px;
    }

    .station-status {
        position: absolute;
        top: 12px;
        right: 12px;
        width: 8px;
        height: 8px;
        border-radius: 100%;
    }

    .station-open {
        background-color: $bg-green;
    }

    .station-closed {
        background-color: $bg-red;
    }

    .station-large-status {
        font-weight: 300;
        font-size: 0.8rem;
    }

    .station-large-open {
        color: $bg-green;
    }

    .station-large-closed {
        color: $bg-red;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px 0;
    font-size: 0.8rem;
    text-align: center;
    width: 100%;

    .footer-links-label {
        &:hover {
            cursor: pointer;
        }
    }

    .footer-updated {
        font-size: 0.7rem;
    }

    .footer-disclaimer {
        font-size: 0.7rem;
        margin-bottom: 16px;

        a {
            color: $txt-color-link;
        }
    }
}

.imprint-modal,
.datpro-modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $bg-color-main;

    a {
        color: $txt-color-link;
    }

    .scroll-container {
        height: 100svh;
        width: 100vw;
        overflow-y: auto;
        display: flex;
        justify-content: center;
    }

    .close-icon {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 48px;
        color: $txt-color-close;
        padding: 16px;
        background-color: $bg-color-main;
        text-align: end;
        box-shadow: $shadow-tile;
        cursor: pointer;
    }

    .imprint-container {
        text-align: center;
        padding: 48px 16px;
    }

    .datpro-container {
        padding: 48px 16px;

        @media (max-width: 348px) {
            h1 {
                font-size: 1rem;
            }

            h3 {
                font-size: 0.9rem;
            }

            h4 {
                font-size: 0.8rem;
            }

            p,
            li {
                font-size: 0.7rem;
            }
        }
    }
}

//animations
.fade-effect {
    animation: fadeIn 225ms ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
    }
    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
    }
    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
    }
    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    }
    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
    }
}
