@import 'variables.scss';

.spinner {
    width: 100svw;
    height: 100svh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .loader {
        display: block;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        position: relative;
        animation: rotate 1s linear infinite;
    }
    .loader::before,
    .loader::after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        inset: 0px;
        border-radius: 50%;
        border: 10px solid $bg-spinner-dark;
        animation: prixClipFix 2s linear infinite;
    }
    .loader::after {
        border-color: $bg-spinner-light;
        animation: prixClipFix 2s linear infinite, rotate 0.5s linear infinite reverse;
        inset: 10px;
    }
}

.navbar {
    height: $height-navbar;
    border-bottom: $border-thin;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    background-color: $bg-color-main;
    padding: 8px;
    z-index: 2;

    .navbar-title {
        width: 100%;
        text-align: center;
        font-weight: 400;
        font-size: 1.1rem;
    }

    .navbar-icon {
        position: absolute;
        top: 25%;
        right: 8px;
        cursor: pointer;
    }
}

.toolbar {
    width: 100%;
    display: flex;
    flex-direction: column;

    .toolbar-filter {
        padding: 16px 0 0;

        .btn-selection {
            height: 36px;
            font-size: 1rem;
            font-family: 'Roboto', sans-serif;
            border-radius: $radius-btn;
            padding: 4px 16px;
            border: $border-button;
            background-color: $bg-color-main;
            color: $txt-color-btn;
            transition: $transition-normal;
            margin-right: 8px;
            cursor: pointer;
        }

        .btn-active {
            background-color: $bg-btn-active;
            color: $txt-color-btn-active;

            &:hover {
                background-color: $bg-btn-active;
                color: $txt-color-btn-active;
            }
        }
    }

    .toolbar-slider {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .toolbar-slider-label {
            font-size: 1rem;
        }

        .toolbar-slider-toggle {
            width: 51px;
            height: 31px;
            padding: 2px;
            border-radius: 100px;
            background-color: $bg-slider-active;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-shrink: 0;
            cursor: pointer;

            .toolbar-slider-knob {
                width: 27px;
                height: 27px;
                background-color: $bg-color-main;
                border-radius: 100px;
                box-shadow: $shadow-knob;
                transform: translateX(20px);
                transition: $transition-normal;
            }
        }

        .slider-inactive {
            background-color: $bg-slider-inactive;

            .toolbar-slider-knob {
                transform: translateX(0);
            }
        }
    }
}

.station-container {
    padding: $padding-normal;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;

    .station-tile {
        position: relative;
        box-shadow: $shadow-tile;
        border-radius: $radius-tile;
        padding: 16px;
        width: 100%;
        height: 85px;
        transition: $transition-normal;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        cursor: pointer;

        .station-small-content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .station-left {
                .station-brand {
                    font-weight: 600;
                }

                .station-adress {
                    font-weight: 400;
                    font-size: 0.9rem;
                }
            }

            .station-right {
                font-size: 1.7rem;
                font-weight: 700;
            }
        }

        .station-large-content {
            transition: $transition-normal;
            opacity: 0;
            padding-top: 16px;
            line-height: 1.5;
            font-size: 1.1rem;

            .station-table-price {
                padding-left: 16px;
                font-weight: 500;
            }

            .station-updated {
                padding-top: 8px;
                font-weight: 300;
                font-size: 0.8rem;
            }
        }

        .station-large-visible {
            opacity: 1;
        }
    }

    .station-large {
        height: 248px;
    }

    .station-status {
        position: absolute;
        top: 12px;
        right: 12px;
        width: 8px;
        height: 8px;
        border-radius: 100%;
    }

    .station-open {
        background-color: $bg-green;
    }

    .station-closed {
        background-color: $bg-red;
    }

    .station-large-status {
        padding-top: 8px;
        font-weight: 300;
        font-size: 0.8rem;
    }

    .station-large-open {
        color: $bg-green;
    }

    .station-large-closed {
        color: $bg-red;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px 0;

    .footer-disclaimer {
        text-align: center;
        font-size: 0.7rem;

        a {
            color: $txt-color-link;
        }
    }

    .footer-links {
        text-align: center;
        font-size: 0.8rem;
    }
}

//animations
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
    }
    25% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
    }
    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
    }
    75% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
    }
    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
    }
}
