@import 'fonts.scss';
@import 'variables.scss';
@import 'components.scss';

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: $txt-color-main;
    background-color: $bg-color-main;

    @media (min-width: 480px) {
        display: flex;
        justify-content: center;
    }
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: $height-navbar;
    padding: $padding-normal;

    @media (min-width: 480px) {
        width: 480px;
    }

    @media (max-width: 300px) {
        padding: $padding-normal 8px $padding-normal 8px;
    }
}

.filter-backdrop {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: $bg-backdrop;
    transition: $transition-backdrop;
    cursor: pointer;
}

.filter-backdrop-active {
    opacity: 1;
    z-index: 2;
}

.overflow-hidden {
    overflow: hidden;
}
