// colors
$txt-color-main: #000000;
$bg-color-main: #ffffff;

// paddings, margings and gaps
$padding-normal: 16px;
$border-thin: 1px solid rgb(0, 0, 0, 0.1);

// shadows
$shadow-tile: 0 2px 4px 0 rgb(0, 0, 0, 0.02), 0 4px 8px 0 rgb(0, 0, 0, 0.04), 0 8px 32px 0 rgb(0, 0, 0, 0.08);

// borders
$radius-tile: 24px;

//dimensions
$height-navbar: 44px;
