// colors
$txt-color-main: #000000;
$txt-color-btn: #3f3f3e;
$txt-color-btn-active: #f5f5f5;
$bg-color-main: #ffffff;
$bg-btn-active: #3f3f3e;
$bg-btn-hover: #f5f5f5;
$bg-red: #d6271b;
$bg-green: #477a47;

// paddings, margings and gaps
$padding-normal: 16px;
$border-thin: 1px solid #0000001a;
$border-button: 1px solid #3f3f3e;

// shadows
$shadow-tile: 0 2px 4px 0 rgb(0, 0, 0, 0.02), 0 4px 8px 0 rgb(0, 0, 0, 0.04), 0 8px 32px 0 rgb(0, 0, 0, 0.08);

// borders
$radius-tile: 24px;
$radius-btn: 100px;

//dimensions
$height-navbar: 44px;

//animations
$transition-normal: all 225ms ease-in-out;
